body {
  background: #e7f4f5;
}
.logo {
  font-size: 32px;
  text-align: center;
  color:#457b9d;
}
#search {
  text-align: center;
}
#searchInput {
  border: black solid;
  width: 80%;
}

#searchOpts {
  margin: 0 auto;
}

.btn {
  background: #63adf2;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.btnSearch {
  background: #a7cced;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid black;
  margin: 10px 10px 10px 0;
}